.under-drag { // apply to the item under cursor while dragging something
    border-top: 25px solid #6066ff;
}

.remove-drag { // apply when stopping dragging over a thing so that the transition goes back
    border-top: 0 solid transparent;
}

.drag-placeholder {
    opacity: 0.5;
    transition: all 0.25s ease; // Smooth transition for any changes

    // Temporarily hide everything inside the element
    * {
        opacity: 0; // Fade out all children
        pointer-events: none; // Disable interactions on child elements
        transition: opacity 0.25s ease; // Smooth fade-out effect
    }
}

#listContainer {
    height: 85vh;
    overflow-y: auto;
  
    @media (max-width: 768px) {
      height: auto; // Adjust height for smaller screens
    }
  }

#taskContainer {
    height: 85vh;
    overflow-y: auto;

    @media (max-width: 768px) {
        height: auto; // make the column not take up roughly the full screen on smaller screens
    }
}